# Django
*.pyc
__pycache__/
*.sqlite3

# Ambiente
.env

# Apps
/apps/*/__pycache__/*
/apps/*/migrations/*.py
!/apps/*/migrations/__init__.py

# Media
/media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
